<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Ice_Cream_Clip_Art.png">
    <title>Confirmation</title>
    <link rel="stylesheet" href="/styles/styles.css"> 
    <script src="js/ice-cream.js" defer></script>
</head>
<body>
    <main>
        <h1>Thank you for ordering</h1>
		<h2>Order summary</h2>
		<p>Name: <%= order.name %></p>
		<p>Email: <%= order.email %></p>
        <p>Cone: <%= order.method %></p>
		<p>Toppings: <%= order.toppings %></p>
		<p>Comment: <%= order.comment %></p>
		<p>Time: <%= order.timestamp %></p>
        <form action="/" method="get">
            <button id="submit-button" type="submit">Place another order</button>
        </form>
    </main>
</body>
</html>